@layer base {
  :root {
    /* Animations Timing */
    --animate-fast: 150ms;
    --animate-normal: 250ms;
    --animate-slow: 400ms;

    /* Animations Easing */
    --ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
